/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	font-weight: 700;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact,
#login {
	width: 50%;
	margin: auto;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2,
#login h2 {
	margin-bottom: 20px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 15px;
}
#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #0E2F28;
	color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* bouttons filtres */
.filters {
	display: flex;
	justify-content: center;
}
.btn {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1rem;
	color: white;
	background-color: #1D6154;
	margin : 20px 5px 50px;
	padding: 10px;
	min-width: 100px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
}
.btn:hover,
.filters .btn:hover {
	background-color: #0E2F28;	
	border: 1px solid #0E2F28;
	color: white;
}
.filters .btn-filters {
	color: #1D6154;
	background-color: #FFFFFF;
}
.filters .active-btn {
	color: white;
	border: 1px solid #1D6154;
	background-color: #1D6154;
}

/* login */
a{
	text-decoration: none;
}
a:visited {
	color: inherit;
}
a:hover {
	font-weight: 700;
}

#login {
	min-height: calc(90vh - 216px);
	margin-top: 10%;
}
#login a {
	text-decoration: underline;
}
#errorMessage {
	color: red;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}

/* modal */
.js-modal {
	font-family: 'Work Sans';
	font-weight: 300;
	font-size: 14px;
	color: #000000;
	background-color: unset;
	border: unset;
	position: relative;
	bottom: 5px;
}
.js-modal i {
	padding-right: 10px;
	padding-left: 25px;
}
.js-modal:hover {
	color: #B1663C;
	font-weight: 700;
	cursor: pointer;
}

/* modal */
.modal {
    display: none;
    align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal_wrapper {
	display: none;
	overflow: auto;
	position: relative;
	max-width: 630px;
    max-height: 700px;
	flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}
.activeWrapper {
    display: flex !important;
}

.js-modal-close {
	position: absolute;
	top: 26px;
	right: 30px;
	cursor: pointer;
}
.js-modal-previous {
	position: absolute;
	top: 26px;
	left: 30px;
	cursor: pointer;
}
.js-modal-add {
	min-width: 237px;
	margin: 38px auto 45px;
}

h3 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	color: black;
	padding-top: 60px;
	padding-bottom: 46px;
}
.galleryModal {
	width: 67%;
	margin: 0 16.5%;
	/*padding: 0 16.5% 67.3px;*/
	padding-bottom: 67.3px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 29px;
	border-bottom: 1px solid #B3B3B3;
}
.galleryModal figure {
	position: relative;
}
.trash {
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: black;
	color: white;
	top: 6px;
	right: 5px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
    align-items: center;
	padding-top: 0px;
	cursor: pointer;
}
.trash i {
	line-height: 0;
}
